# =========================
# Python & Compilacion
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Entornos Virtuales
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Distribucion y Paquetes (PyPI)
# =========================
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# =========================
# Testing y Logs
# =========================
.pytest_cache/
.coverage
htmlcov/
*.log

# =========================
# Archivos del Sistema Operativo
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =========================
# Editores de Codigo (IDE)
# =========================
.vscode/
.idea/
*.swp

# =========================
# Archivos generados por DataBlueprint
# =========================
# Ignoramos los reportes para no filtrar esquemas o metadatos por error
blueprints/